:root {
  --side-nav-width: 300px;
}
.tabs .tab a:focus.active {
  background-color: #f3e5f5;
}
.tabs .indicator {
  background-color: #4a148c;
  /*Custom Color Of Indicator*/
}

span.em-divider {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  padding-top: 3px;
}
@media only screen and (min-width: 992px) {
  .nav-wrapper li > a > span {
    display: none;
  }
}
/*medium-large screens */
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
/* mobile */
@media only screen and (max-width: 410px) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 92%;
    margin: 0 auto;
  }
  .em-menu-icon {
    font-size: 3em;
  }
}
